<p id="notice"><%= notice %></p>

<h1>A Rails based feed reader.</h1>

<p>Mango App assignement for Rss Feed Reader.</p>

<%= link_to 'List of Feeds', feeds_path %> | <%= link_to 'New Feed', new_feed_path %>

<%= render :partial => 'index', :locals => {:entries => @entries} %>

<br>

